a
{
	color: lightgray;
}

body
{
	background-color: midnightblue;
	color: white;
	font-size: 1em;
	font-family: "Georgia", Times, serif;
}

div.Z
{
	position: fixed;
	bottom: 80px;
}

input[type=number]
{
	width: 20%;
	padding: 6px 6px;
	margin: 4px 2px;
	box-sizing: border-box;
	font-size: 1.1em;
}

input[type=text]
{
	width: 20%;
	padding: 6px 6px;
	margin: 4px 2px;
	box-sizing: border-box;
	font-size: 1.1em;
}

/*input[type=radio]
{
	width: 1%;
	margin: 4px 8px;
	font-size: 1.1em;
}*/

input[type=submit]
{
	width: 20%;
	padding: 6px 6px;
	margin: 4px 2px;
	box-sizing: border-box;
	font-size: 1.25em;
	font-family: "Georgia", Times, serif;
	color: white;
	background-color: black;
	border-radius: 15px;
}

p.A
{
	font-size: 1.25em;
}